<button (click)="trocarValor()">trocar valor</button>
<!-- ngIf -->
{{deveExibir}}
<p *ngIf="deveExibir; else blocoElse"> 
    Meu Texto
</p>

<ng-template #blocoElse>
    <p>else</p>
</ng-template>

<p [hidden]="!deveExibir"> 
    Meu Texto Hidden
</p>
<p *ngIf="(7+5)>7"> 
    Meu Texto d
</p>

<div *ngIf="deveExibir; then b1;else b2"></div>
<ng-template #b1>
    <p>Bloco1</p>
</ng-template>
<ng-template #b2>
    <p>Bloco1</p>
</ng-template>

<!-- ngFor -->
<button (click)="addItem('bs')">Add item</button>

<ul>
    <li *ngFor="let item of lista; let index = index; let count = count; let last = last;let f = first">
        {{index}} - {{item}} - {{count}} - {{last? 'esse é o ultimo':
                                             f?'esse é o primeiro':'meio do caminho'}}
    </li>
</ul>
<!-- exercicio -->

<ul>
    <li *ngFor="let categoria of MEMES_AGRUPADOS_POR_CATEGORIA">
        <h1>{{categoria.categoria}}</h1>
        <ul>
            <li *ngFor="let meme of categoria.memes;let first = first">
                <h4>{{meme.titulo}}</h4>
                <img src="{{IMG_BASE_URL}}{{meme.imagemURL}}" width="100px"
                    *ngIf="!first; else blocoMemeOmitido">
                <ng-template #blocoMemeOmitido>
                    <p>primeiro meme</p>
                </ng-template>
            </li>
        </ul>
    </li>
</ul>