<p>exercicio-data-binding works!</p>

<img [src]="imgURL" [width]="imgWidth">
<button (click)="clickButton($event)" [disabled]="btnDisabled">Botão</button>
<button (click)="changeEnbled()" (mouseover)="mouseEmcima()">Botão disable</button>
<p [attr.aria-label]="TextoAlternativo">
    Um texto qualquer...
    {{meuTexto.length}}
</p>
<input type="text" [value]="meuTexto"
                   (input)="aoDigitar($event)">

<Button (click)="onSave($event)">Salvar</Button>
{{count}} {{twowdb2}}

<!-- Exercício data bind -->
<app-contador [valor]="count" (outCount)="outcount($event)" [(twowdb)]="twowdb2"></app-contador>

<!-- Ng Model -->
<input type="text" [(ngModel)]="meuNovoTexto"><br>
<p>Valor em meu novo texto: {{meuNovoTexto}} {{selectV}}</p>

<select [(ngModel)]="selectV">
    <option value="v">v</option>
    <option value="f">f</option>
    <option value="w">w</option>
</select>
<br><br><br><br><br><br><br><br>